.card-user{
    margin: 0 auto !important;
    float: none !important;
    margin-top: 100px !important;
   
}
body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: src="../src/assets/img/fondo-login.jpg";

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
