.card-user{
    margin: 0 auto !important;
    float: none !important;
    margin-top: 100px !important;
}

.btn-primary {
    background-color: #027dc6;
    color: #FFFFFF;
}

.form-control {
    border-color: #027dc6; 
}