
h5 {
    color: #027dc6;
    text-align: center;
    font-family: roboto;
}

h2 {
    text-align: center;
    font-family: roboto;
}



img {
    text-align: center;
}

i {
    color: #027dc6;
    font-size: 24px;
    
}

i:hover {
    color: #2c2c2c;
}

a:hover {
    color: #2c2c2c;
}
body { 
    overflow:hidden; 
  }