<header>
<div class="panel-header ">
    <div class="row">
      <div class="col-md-4">
        <img class="avatar border-gray" src="../assets/img/logo-camara.png">
      </div>
      <div class="col-md-4">
        <div class="header text-center">
          <h2 class="title">Cámara De Comercio <br>Y<br> Turísmo De Reñaca</h2>
          <p class="category">Visitanos en
            <a href="https://www.facebook.com/turismocctr" target="_blank">Facebook</a>
          </p>

        </div>
      </div>
      <div class="col-md-4">
        <p>
        
        </p>
      </div>
    </div>

  </div>
</header>
<div class="main-content">


  <div class="row">
    <p>

    </p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/fondo-renacahouse.png" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="http://www.renacahouse.cl">
              <img class="avatar border-gray" src="../assets/img/logo-renacahouse.png" alt="...">
              <h5 class="title">REÑACA HOUSE</h5>
            </a>
            <p class="description">

            </p>
          </div>
          <p class="description text-center">
            "Tu casa lejos de casa"
            <br> Ofrece un servicio de alojamiento
            <br> acogedor y de calidad
          </p>
        </div>
        <hr>
        <div class="button-container">
          <a href="https://www.facebook.com/RenacaHouse">
          <button class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button></a>
          <a href="https://www.instagram.com/renacahouse/">
          <button class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-instagram"></i>
          </button></a>
          
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/fondo-hotelmontecarlo.png" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="https://www.hotelmontecarlo.cl/inicio">
              <img class="avatar border-gray" src="../assets/img/logo-hotelmontecarlo.png" alt="...">
              <h5 class="title">HOTEL MONTECARLO</h5>
            </a>
            <p class="description">

            </p>
          </div>
          <p class="description text-center">
            ¿Por qué elegir Hoteles Montecarlo?
            <br> Ubicados en exclusivos balnearos
            <br> Tiene todas las comodidades 
          </p>
        </div>
        <hr>
        <div class="button-container">
          <a href="https://www.facebook.com/montecarlorenaca">
          <button  class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button></a>
          <a href="https://twitter.com/hmontecarlo?lang=es">
          <button  class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/fondo-fish.png" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="http://www.masterfishandchips.cl">
              <img class="avatar border-gray" src="../assets/img/logo-fish.png" alt="...">
              <h5 class="title">MASTER FISH & CHIPS</h5>
            </a>
            <p class="description">

            </p>
          </div>
          <p class="description text-center">
            Somos expertos en:
            <br> Ricos pescados fritos
            <br> Papas rústicas
          </p>
        </div>
        <hr>
        <div class="button-container">
          <a href="https://www.facebook.com/masterfishandchips/">
          <button  class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button></a>
          <a href="https://www.instagram.com/masterfishandchips/">
          <button class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-instagram"></i>
          </button></a>
          
        </div>
      </div>
    </div>

  </div>

</div>